@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Economica&family=Poppins&display=swap");

.covered {
  font-family: "Covered By Your Grace", cursive;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
}

.economica {
  font-family: "Economica", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

.luckiest {
  font-family: "Bangers", system-ui;
}
